@{
    ViewBag.Title = "Index";
}

@section Sidebar{
    <div class="sidebar-button"><a href="/"><div class="sidebar-button-text">Help</div></a></div>
    <div class="sidebar-button"><a href="/ChangePassword/"><div class="sidebar-button-text">Change Password</div></a></div>
    <div class="sidebar-button"><a href="mailto:support@merit.com.au"><div class="sidebar-button-text">Email</div></a></div>
    <div class="sidebar-button"><a href="/Account/LogOff/"><div class="sidebar-button-text">Logout</div></a></div>
}

<h2>Index</h2>
