@model Merit.Traveller.BMS.BMS_Web_Admin.sponsor_list
<script>
    function selectRow() {

    }
</script>
<input type="text" data-bind="value: visaRegistration.sponsorName, valueUpdate: 'afterkeydown' ">
        <button  data-bind="click: visaRegistration.searchForSponsor">Search</button>
        <div id="sponsorInfo" class="float-right">
            <b>Company: </b><span id="sponsorCompany">-</span>
            <br />
            <br />
            <b>Address Details</b>
            <table>
                <tr>
                    <td style="width:12px;"><b>Addr 1:</b></td>
                    <td><span id="sponsorAddr1">-</span></td>
                </tr>
                <tr>
                    <td><b>Addr 2:</b></td>
                    <td><span id="sponsorAddr2">-</span></td>
                </tr>
                <tr>
                    <td><b>Addr 3:</b></td>
                    <td><span id="sponsorAddr3">-</span></td>
                </tr>
            </table>
            <br />
            <b>Postal Address Details:</b>
            <table>
                <tr>
                    <td style="width:12px;"><b>1:</b></td>
                    <td><span id="sponsorPAddr1">-</span></td>
                </tr>
                <tr>
                    <td><b>2:</b></td>
                    <td><span id="sponsorPAddr2">-</span></td>
                </tr>
                <tr>
                    <td><b>3:</b></td>
                    <td><span id="sponsorPAddr3">-</span></td>
                </tr>
            </table>
            <br />
            <b>Contact Details</b>
            <table>
                <tr>
                    <td style="width:12px;"><b>Email:</b></td>
                    <td><span id="sponsorEmail">-</span></td>
                </tr>
                <tr>
                    <td><b>Principal Position:</b></td>
                    <td><span id="sponsorPrincipalPosition">-</span></td>
                </tr>
                <tr>
                    <td><b>Title:</b></td>
                    <td><span id="sponsorTitle">-</span></td>
                </tr>
                <tr>
                    <td><b>Surname:</b></td>
                    <td><span id="sponsorSurname">-</span></td>
                </tr>
                <tr>
                    <td><b>Passport Number:</b></td>
                    <td><span id="sponsorPassportNumber">-</span></td>
                </tr>
                <tr>
                    <td><b>Phone:</b></td>
                    <td><span id="sponsorPhone">-</span></td>
                </tr>
                <tr>
                    <td><b>Fax:</b></td>
                    <td><span id="sponsorFax">-</span></td>
                </tr>
                <tr>
                    <td><b>Given Name:</b></td>
                    <td><span id="sponsorGiveName">-</span></td>
                </tr>
                <tr>
                    <td><b>Status:</b></td>
                    <td><span id="sponsorStatus">-</span></td>
                </tr>
            </table>
            
        </div>
        <div >
            <table id="sponsorTable">
                <thead class="tableHeader">
                    <tr>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                    </tr>
                </thead>
                @{
            String parity="oddRow";
            foreach (var sponsor in Model.sponsor_dets)
            {
                
            <tr id="" class="@parity enquiryRow" data-permitID="@sponsor.sponsor_guid" >
                <td>@sponsor.given_name</td>
                <td>@sponsor.address_1</td>
            </tr>
            
                if (parity == "oddRow"){
                    parity = "evenRow";
                }else{
                    parity = "oddRow";
                }
            }
        }
            </table>

        </div>
        <br />
        <br />
        <br />
        <button class="float-right" style="margin-top: -40px;" data-bind="click: visaRegistration.postSponsor">Post</button>
        <input type="text" id="hiddenSponsorCompanyName" hidden />
        <input type="text" id="hiddenSponsorGUID" hidden />
        <input type="text" id="hiddenSponsorAddress" hidden />
        <input type="text" id="hiddenSponsorAddress2" hidden />