.btn-group1, .btn-group-vertical {
            position: relative;
            display: inline-block;
            /* vertical-align: middle; */
        }

        .span9 {
            width: 90%;
        }

        #cal-week-box1 {
            position: absolute;
            width: 70px;
            /* left: -71px; */
            top: -1px;
            padding: 8px 5px;
            cursor: pointer;
        }

        .container1 {
            margin-right: auto;
            /* margin-left: auto; */
        }

        .pull-right1 {
        }

        .page-header1 {
            padding-bottom: 9px;
            margin: 20px 0 30px;
        }

        .btn-twitter {
            padding-left: 30px;
            background: rgba(0, 0, 0, 0) url(https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png) -20px 6px no-repeat;
            background-position: -20px 11px !important;
        }

            .btn-twitter:hover {
                background-position: -20px -18px !important;
            }

        #cal-week-box {
            position: absolute;
            width: 70px;
            /* left: -71px; */
            top: -1px;
            padding: 8px 5px;
            cursor: pointer;
        }


        .badge {
            text-shadow: none;
            font-size: 12px;
            padding-top: 1px;
            padding-bottom: 3px;
            font-weight: 400;
            line-height: 15px;
        }