<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="CRMSettings" type="Merit.Traveller.CRM.CRMSettings, Merit.Traveller.CRM" />
  </configSections>
  <CRMSettings Setup="true" CouncilName="Testing testing" Attachments="/Attachments/"
    LookupEnabled="true" AuthUser="admin" AuthPass="admin" />
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="TravellerVersion" value="4.0"/>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="/Error/NotFound/" redirectMode="ResponseRedirect">
      <error statusCode="400" redirect="/Error/BadRequest/" />
      <error statusCode="401" redirect="/Error/Unauthorized/" />
      <error statusCode="403" redirect="/Error/Forbidden/" />
      <error statusCode="404" redirect="/Error/NotFound/" />
      <error statusCode="405" redirect="/Error/MethodNotAllowed/" />
      <error statusCode="500" redirect="/Error/ServerError/" />
    </customErrors>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Merit.Traveller.CRM-20120926075236;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Merit.Traveller.CRM-20120926075236.mdf" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="bms_web_adminSoap" maxBufferPoolSize="10000000"
          maxBufferSize="1000000" maxReceivedMessageSize="1000000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="bms_web_permit_dataSoap" maxBufferPoolSize="10000000"
          maxBufferSize="1000000" maxReceivedMessageSize="1000000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="bms_web_permit_procSoap" maxBufferPoolSize="10000000"
          maxBufferSize="1000000" maxReceivedMessageSize="1000000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="ws_travellerSoap" />
        <binding name="ws_merit_actionSoap" />
        <binding name="ws_merit_adminSoap" />
        <binding name="ws_merit_requestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://merit-laptop-3/merit_traveller/ws_traveller.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_travellerSoap"
        contract="ws_traveller.ws_travellerSoap" name="ws_travellerSoap" />
      <endpoint address="http://merit-laptop-3/merit_traveller/ws_merit_action.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_merit_actionSoap"
        contract="ws_merit_action.ws_merit_actionSoap" name="ws_merit_actionSoap" />
      <endpoint address="http://merit-laptop-3/merit_traveller/ws_merit_admin.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_merit_adminSoap"
        contract="ws_merit_admin.ws_merit_adminSoap" name="ws_merit_adminSoap" />
      <endpoint address="http://merit-laptop-3/merit_traveller/ws_merit_request.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_merit_requestSoap"
        contract="ws_merit_request.ws_merit_requestSoap" name="ws_merit_requestSoap" />
    </client>
  </system.serviceModel>
</configuration>